/* загальні правіла */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  padding: 96px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1158px) {
  section {
    padding: 120px 0;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  min-height: 100vh;
  display: block;
}

/* ================================ */
/* ========== HEADER ============== */
/* ================================ */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
  display: block;
}

.header-logo {
  color: #2e2f42;
}

.btn-nav-menu {
  padding: 0;
  border: none;
  background-color: transparent;
}

.btn-nav-icon {
  display: block;
  fill: #2f2f37;
}

.items {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-link.active {
  color: #404bbf;
}

.menu-link:hover::after,
.menu-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-style: normal;
  padding: 10px 0;
}

.address-info .contacts:hover,
.address-info .contacts:focus {
  color: #404bbf;
}

.contacts {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .container-page-header {
    text-align: center;
  }
  .address-info {
    padding: 0;
  }
}

/* ================================ */
/* ========== HEADER-TABLE ============== */
/* ================================ */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .btn-nav-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .items {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .address-info {
    display: none;
  }
}

/* ================================ */
/* ========== HEADER-DESK-TOP ============== */
/* ================================ */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

@media screen and (min-width: 1158px) {
  .address-info {
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* menu for mobile */

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 1;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container-mobile-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 40px;
  height: 100%;
}

.mob-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-btn-close:hover,
.mob-btn-close:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  fill: #ffffff;
}

.icon-bt-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-bt-close:focus,
.icon-bt-close:hover {
  fill: #ffffff;
}

.mob-nav {
  margin-bottom: auto;
}

.mob-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  list-style: none;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mob-menu-link:hover {
  color: #404bbf;
}

.mob-address-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-style: normal;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
}

.mob-address-info .mob-contacts:hover,
.mob-address-info .mob-contacts:focus {
  color: #4d5ae5;
}

.mob-contacts {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mobile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

/* ================================ */
/* ======== SECTION-FIRST ========= */
/* (Hero-секция + заголовок, кнопка)*/
/* ================================ */

.section-first {
  max-width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-mobile-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-first .container {
    padding: 188px 0;
  }
}

.page-title {
  width: 216px;
  margin-bottom: 72px;
  line-height: 1.02;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 56px;
    line-height: 1.07143;
    width: 496px;
    margin-bottom: 36px;
  }
}
.button {
  display: inline-block;
  border-radius: 4px;
  margin: 0;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .btn-subscribe:focus,
  .btn-subscribe:hover,
  .modal-form-button:focus,
  .modal-form-button:hover,
  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}
@media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-mobile-bg@2x.jpg');
  }
}

@media (min-resolution: 288dpi), (min-device-pixel-ratio: 3) {
  .section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-mobile-bg@3x.jpg');
  }
}

/* ================================ */
/* === SECTION-FIRST for tablet === */
/* (Hero-секция + заголовок, кнопка)*/
/* ================================ */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-first {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-tablet-bg.jpg');
    height: 436px;
    padding: 0;
  }
  .section-first .container {
    padding: 112px 0;
  }

  @media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
    .section-first {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-tablet-bg@2x.jpg');
    }
  }

  @media (min-resolution: 288dpi), (min-device-pixel-ratio: 3) {
    .section-first {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-tablet-bg@3x.jpg');
    }
  }
}

/* ================================ */
/* ===== SECTION-FIRST for DESKTOP ===== */
/* (Hero-секция + заголовок, кнопка)*/
/* ================================ */

@media screen and (min-width: 1158px) {
  .p-first-sect {
    font-weight: 400;
    letter-spacing: 0.0196em;
  }
  .section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg.jpg');
    max-width: 1440px;
    height: 600px;
    padding: 0;
  }

  @media (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
    .section-first {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-bg@2x.jpg');
    }
  }

  @media (min-resolution: 288dpi), (min-device-pixel-ratio: 3) {
    .section-first {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-bg@3x.jpg');
    }
  }
}

/* =========== STYLES FOR =========== */
/* ========= SECONDARY TITLE ======= */
/* =========== THIRD TITLE ========= */
/* ============= SERVICE =========== */
/* ============= TABLE-SC ========= */
/* ============== TEXT.P ========== */

.secondary-title {
  padding: 0;
  margin: 0 0 72px 0;
  line-height: 1.12;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
}

.third-title {
  font-size: 36px;
  line-height: 1.12;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.section-fourth .third-title,
.section-third .third-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.section-fourth .third-title {
  text-align: left;
}
.services {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto;
}
.section-third .services {
  align-items: center;
}

.team-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.section-two .team-list {
  align-items: center;
}

.section-fourth .services {
  gap: 48px;
}

.p-first-sect {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-first .text-p {
  font-weight: 500;
}

/* ================================ */
/* ========== SECTION-TWO ========= */
/* ================================ */
/*================================ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-container {
  display: none;
}

/* ================================ */
/* ==== SECTION-TWO for tablet ==== */
/* ================================ */
/*================================ */
@media screen and (min-width: 768px) {
  .services {
    flex-direction: row;
    gap: 24px;
    row-gap: unset;
    /* align-items: center;
    justify-content: center\; */
  }

  .section-two .team-list {
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section-two .services {
    gap: 72px 24px;
    width: 736px;
    height: 312px;
  }

  .team-list {
    width: 356px;
    height: 120px;
  }

  .section-two .third-title {
    text-align: left;
  }
  .section-two .team-list {
    width: 356px;
  }
}

/* SECTION-TWO for DESKTOP*/

@media screen and (min-width: 1158px) {
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    flex-wrap: wrap;
  }
  .team-list {
    width: calc((100% - 72px) / 4);
  }
  .section-two .team-list {
    width: 264px;
    height: 224px;
  }
  .services {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .third-title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 1.2;
  }
}

/* ================================ */
/* ========== SECTION-THREE ======= */
/* (Our Team)                       */
/* ================================ */

.section-third {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #f4f4fd;
  background-size: 100%;
}

/* Иконки в команде */
.icon-team {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 232px;
  height: 40px;
  border-top: none;
  cursor: pointer;
}

.icon-list {
  width: 40px;
  height: 40px;
}

.section-third .icon {
  fill: #f4f4fd;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-third .social-link:hover,
.section-third .social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .section-third .services {
    justify-content: center;
    gap: 64px 24px;
  }

  .section-third .team-list {
    width: 264px;
    height: 428px;
  }
}

/* Карточки (.portfolio-list, .card-container) */

.card-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container {
  position: relative;
  width: 264px;
  height: 428px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-fourth .card-container {
  width: 288px;
  height: 280px;
  padding: 0;
}

.portfolio-list {
  width: 288px;
  height: 400px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-content {
  position: relative;
  z-index: 101;
  width: 232px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
  border-top: none;
}

.section-fourth .card-content {
  width: 288px;
  height: 120px;
  align-items: flex-start;
  border: 1px solid rgba(231, 233, 252, 1);
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  padding-left: 16px;
  border-top: none;
}

.card-content:hover {
  background-color: #f9f9f9;
}

.card-container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.portfolio-list:hover .card-container-overlay {
  opacity: 1;
}

.overlay-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transform: translateY(0%);
}

.overlay-text-up {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .overlay-text-up {
  transform: translateY(0);
}

/* ================== 6.3 Section-Fourth, services, table-sc ============= */
/* (По аналогии со Section-third) */

/* Переопределения на Tablet */

@media screen and (min-width: 768px) {
  .section-fourth .card-container {
    width: 356px;
    height: 300px;
  }
  .section-fourth .card-content {
    width: 356px;
    height: 120px;
  }

  .section-fourth .services {
    gap: 72px 24px;
    justify-content: center;
  }

  .portfolio-list {
    width: 356px;
    height: 420px;
  }
  .portfolio-list {
    width: calc((100% - 24px) / 2);
  }
}

/* Переопределения на Desktop */
@media screen and (min-width: 1158px) {
  .section-fourth .card-container {
    width: 360px;
    height: 300px;
    object-fit: cover;
  }

  .p-first-sect {
    font-weight: 400;
    letter-spacing: 0.0196em;
  }

  .section-fourth .services {
    gap: 40px 24px;
  }
  .services {
    flex-wrap: wrap;
  }
  .section-fourth .card-content {
    width: 360px;
    height: 120px;
  }

  .portfolio-list {
    width: 360px;
    height: 420px;
  }
  .portfolio-list {
    width: calc((100% - 48px) / 3);
  }
}

/****************************************************************************/
/***  7. FOOTER (подвал сайта)                                          ****/
/****************************************************************************/

/* ======================= 7.1 Footer Mobile ============================= */

/* Общий блок футера */
.footer {
  background-color: #2e2f42;
  margin: 0 auto;
}

/* Внутренний контейнер футера */
.footer-container {
  margin: 0 auto;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Лого в футере */
.footer .logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 0 16px;
  padding: 0;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-block-one {
  text-align: center;
  width: 288px;
  padding: 0;
}

/* Текст в футере */
.text-footer {
  max-width: 288px;
  text-align: start;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.p-footer {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.icon-footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}

.icon-bt-footer {
  fill: #f4f4fd;
}
.footer-block-two {
  display: block;
  margin-top: 72px;
  margin-bottom: 72px;
}

.container-footer-form {
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-input {
  width: 288px;
  height: 40px;
  color: #ffffff;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.footer-input::placeholder {
  color: #ffffff;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe .icon-bt-footer {
  vertical-align: middle;
}

/* ======================= 7.2 Footer Tablet ============================== */
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;

    align-items: flex-start;
    justify-content: left;
    padding: 96px 164px 96px 108px;
  }

  .footer-block-one {
    width: 264px;
    height: 112px;
    text-align: left;
  }

  .footer-block-two {
    width: 208px;
    height: 80px;
    padding: 0;
    margin: 0;
  }

  .p-footer {
    text-align: left;
  }

  .container-footer-form {
    align-items: flex-start;
    justify-content: start;
  }

  .footer-form {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .text-footer {
    max-width: 264px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

/* ======================= 7.3 Footer Desktop ============================= */
@media screen and (min-width: 1158px) {
  .footer {
    max-width: 100%;
    height: 312px;
  }

  .footer-container {
    max-width: 1440px;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 100px 0;
  }

  .text-footer {
    width: 264px;
  }
  .footer-block-one {
    margin-right: 120px;
  }
  .footer-block-two {
    margin-right: 80px;
  }
}

/* ======================= Modal window ============================= */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icon-bt-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-bt-close:focus,
.icon-bt-close:hover {
  fill: #ffffff;
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-text-p {
  margin-bottom: 4px;
}

.form-container {
  margin-bottom: 8px;
}

.modal-form-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.container-form-input,
.checkbox-container {
  position: relative;
}

.modal-form-input {
  width: 256px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 8px;
  padding-bottom: 8px;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-form-input:focus-within .icon-input {
  fill: #4d5ae5;
}

.container-textarea {
  margin-bottom: 16px;
}

.container-textarea .textarea {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

.textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-container .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.checkbox-container {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.checkbox-container .checkbox-label {
  cursor: pointer;
}

.checkbox-text {
  width: 231px;
  height: 31px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox {
  border-radius: 2px;

  fill: #f4f4fd;
}

.checkbox-container .visually-hidden:checked + .checkbox-label .span {
  background-color: #404bbf;
  border: none;
}

.checkbox-container .visually-hidden:checked + .checkbox-label .span {
  fill: #f4f4fd;
}

.agreement {
  color: #4d5ae5;
  line-height: 1.34;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.modal-form-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    border-radius: 4px;
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-form-input {
    width: 360px;
  }

  .checkbox-text {
    width: 338px;
  }

  .checkbox-text {
    width: 360px;
    height: 16px;
  }

  .textarea {
    width: 360px;
    height: 120px;
  }
}
